/*
overriding basic theme
 */
body {
	font-size: 2.5em;
}

.slide {
	padding-top: 25px;
}

.slide-content {
	font-size: 0.9em;
	font-family: 'Helvetica Neue', Helvetica;
	width: 90%;
	/*height:780px;*/
	margin-top:40px;
}

.slide-content img{
	width:auto;
}

h1 {
	font-size: 3em;
	text-shadow: 1px 2px 4px #191919;
	color: #FFF;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
	margin-bottom: 40px;
}

h4 {
	font-size: 1.0em;
	margin-bottom: 0px;
}

ul {
	line-height: 1.8em;
	padding-top:0px;
	margin:0px;
}

blockquote {
	padding: 0 15px;
	color: #777;
	border-left: 4px solid #ddd;
	margin: 0px;
	font-size:0.8em;
}

table {
	padding: 0;
	border-collapse: collapse;
	width:100%;
}
	table tr {
		border-top: 1px solid #cccccc;
		background-color: white;
		margin: 0;
		padding: 0;
 }
		table tr:nth-child(2n) {
			background-color: #f8f8f8;
		}
		table tr th {
			font-weight: bold;
			border: 1px solid #cccccc;
			text-align: left;
			margin: 0;
			padding: 10px 17px;
		}
		table tr td {
			border: 1px solid #cccccc;
			text-align: left;
			margin: 0;
			padding: 10px 17px;
		}
		table tr th :first-child, table tr td :first-child {
			margin-top: 0;
		}
		table tr th :last-child, table tr td :last-child {
			margin-bottom: 0;
		}

a {
	color: #47a9ff;
}
a:hover {
	color: #47a9ff;
	border-bottom: 3px solid #47a9ff;
}

pre {
	font-size: 0.7em;
}

.author h1 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica;
}

.author h3 {
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica;
	margin-bottom:0;
}

/*
Slides
 */
#slide-1 {
	background: url('assets/01.jpg');
  	background-size: cover;
}

#slide-3 {
	background: url('assets/02.jpg');
  	background-size: cover;
}

#slide-5 {
	background: url('assets/05.jpg');
  	background-size: cover;
}

#slide-7 {
	background: url('assets/10.jpg');
  	background-size: cover;
}

#slide-10 {
	background: url('assets/11.jpg');
  	background-size: cover;
}



#slide-12 {
	background: url('assets/08.jpg');
  	background-size: cover;
}



#slide-14 {
	background: url('assets/12.jpg');
  	background-size: cover;
}



#slide-17 {
	background: url('assets/13.jpg');
  	background-size: cover;
}


#slide-19 {
	background: url('assets/15.jpg');
  	background-size: cover;
}


#slide-24 {
	background: url('assets/16.jpg');
  	background-size: cover;
}


#slide-26 {
	background: url('assets/17.jpg');
  	background-size: cover;
}

#slide-29 {
	background: url('assets/20.jpg');
  	background-size: cover;
}

#slide-31 {
	background: url('assets/19.jpg');
  	background-size: cover;
}

#slide-33 {
	background: url('assets/18.jpg');
  	background-size: cover;
}

#slide-34 {
	background: url('assets/21.jpg');
  	background-size: cover;
}




#slide-22 {
	background: url('assets/09.jpg');
  	background-size: cover;
}
