/*
overriding basic theme
 */
body {
	font-size: 3em;
}

.slide-content {
	font-size: 0.9em;
	width: 80%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;


}

ul {
  line-height: 2em;
}

.author h1 {
  font-size: 1em;
}

.author h3 {
  font-size: 0.7em;
}

pre {
  font-size: 0.7em;
}